<!DOCTYPE html>
<html>
	<head>
	<title>Mailing List</title>
	</head>
	<body>
	<%=message%>
		<h1>Subscribe to emailing list</h1>
		<form action="/input" method="post">
		<input type="text" name="user_email">
		<input type="submit">
		</form>
	</body>
</html>