<!DOCTYPE html>
<html>
	<head>
	<title>Mailing List</title>
	</head>
	<body>
		<h1>Email subscriber here:</h1>
		<form action="/contact-form" method="post">
		<input type="text" name="subject">
		<input type="text" name="message">
		<input type="submit">
		</form>
	</body>
</html>